@model HRMS.Common
@{
    ViewBag.Title = "Employees";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    Layout = null;
}

<!-- base:css -->
<link rel="stylesheet" href="~/Content/Assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/Content/Assets/vendors/base/vendor.bundle.base.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/Content/Assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
<link href="~/Content/Assets/css/State.css" rel="stylesheet" />

<div class="container-fluid">
    <div id="responseTextDivId" style="color:red"></div>
    <div class="__blk mt-3">
        <form id="EmployeeForm">
            <input type="hidden" name="Id" />
            <div class="accordion" id="accordionExample">
                <!-- Basic Information -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #f5f8fd; background-color: #44689b;">
                            Basic Information
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-8 col-form-label">Employee Code</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" aria-describedby="emailHelp" id="txtEmployeeCode" name="EmployeeCode" value="@Model.EmployeeCode"
                                                           readonly placeholder="Enter Employee Code">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-8 col-form-label">Biomatric Code</label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="BiometricCode" class="form-control" aria-describedby="emailHelp" id="txtBiomatricCode" placeholder="Enter Biomatric Code">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-8 col-form-label">Title</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control" name="Title">
                                                        <option value="" selected disabled>Select Title</option>
                                                        <option value="Mr.">Mr.</option>
                                                        <option value="Mrs.">Mrs.</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-8 col-form-label">First Name</label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="FirstName" class="form-control" aria-describedby="emailHelp" id="txtFirstName" placeholder="Enter First Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-input">
                                        <div class="preview">
                                            <img id="file-ip-1-preview" style=" width: 199px; height: 141px;">
                                        </div>
                                        <label for="file-ip-1">Upload Image</label>
                                        <input name="ProfilePicture" type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Middle Name</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="Middlename" class="form-control" aria-describedby="emailHelp" id="txtMiddleName" placeholder="Enter Middle Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Last Name</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="LastName" class="form-control" aria-describedby="emailHelp" id="txtLastName" placeholder="Enter Last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">CNIC</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="IdentityCardNo" class="form-control" aria-describedby="emailHelp" id="txtCNIC" placeholder="Enter CNIC">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label">CNIC Expiration</label>
                                        <input name="IdentityExpiryDate" type="date" class="form-control">
                                        @*<div id="datepicker-popup" class="input-group date datepicker">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Passport</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="Passport" class="form-control" aria-describedby="emailHelp" id="txtPassport" placeholder="Enter Passport">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label">Passport Expiration</label>
                                        <input name="PassportExpiryDate" type="date" class="form-control">
                                        @*<div class="col-sm-12">
                                    <div id="datepicker-popup" class="input-group date datepicker">
                                        <span class="input-group-addon input-group-append border-left">
                                            <span class="mdi mdi-calendar input-group-text"></span>
                                        </span>
                                    </div>

                                </div>*@
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Father/Husband Name</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="FatherHusbandName" class="form-control" aria-describedby="emailHelp" id="txtFatherHusbandName" placeholder="Enter Father/Husband Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Driving Licence</label>
                                        <div class="col-sm-12">
                                            <select class="form-control" name="DrivingLicence" id="DDLDrivingLicence">
                                                <option value="" disabled selected="selected">Driving Licence</option>
                                                <option value="yes">yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Gender</label>
                                        <div class="col-sm-12">
                                            <select class="form-control" name="Gender" id="DDLGender">
                                                <option value="" disabled selected="selected">Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Marital Status</label>
                                        <div class="col-sm-12">
                                            <select class="form-control" name="MaritalStatus" id="DDLMaritalStatus">
                                                <option value="" disabled selected="selected">Marital Status</option>
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Divorced">Divorced</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Birth Country</label>
                                        <div class="col-sm-12">
                                            <select class="form-control" name="BirthCountryId" id="DDLCountry">
                                                <option value="" disabled selected="selected">Select Country</option>
                                                @foreach (var item in Model.CountriesList)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Nationality</label>
                                        <div class="col-sm-12">
                                            <select class="form-control" name="NationalCountryId" id="DDLCountry">
                                                <option value="" disabled selected="selected">Select Nationality</option>
                                                @foreach (var item in Model.CountriesList)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Blood Group</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="BloodGroup" class="form-control" aria-describedby="emailHelp" id="txtBloodGroup" placeholder="Enter Blood Group">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Mother Tounge</label>
                                        <select class="form-control" name="HrmLanguageId" id="DDLMotherTounge">
                                            <option value="" disabled selected="selected">Mother Tounge</option>
                                            <option value="1">English</option>
                                            <option value="2">Urdu</option>
                                            <option value="3">Sindhi</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Posiition-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #f5f8fd; background-color: #44689b;">
                            Position
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Employee Type</label>
                                        <div class="col-sm-12">
                                            <select name="EmployeeType" class="form-control" id="DDLEmployeeType">
                                                <option value="" disabled selected="selected">Select Employee Type</option>
                                                @foreach (var type in Model.JobTypeList)
                                                {
                                                    <option value="@type.Name">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Group</label>
                                        <div class="col-sm-12">
                                            <select name="EmployeeGroupId" class="form-control" id="DDLGroup">
                                                <option value="" disabled selected="selected">Select Group</option>
                                                @foreach (var type in Model.EmployeeGroupList)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Designation</label>
                                        <div class="col-sm-12">
                                            <select name="DesignationId" class="form-control" id="DDLDesignation">
                                                <option value="" disabled selected="selected">Select Designation</option>
                                                @foreach (var type in Model.DesignationList)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Department</label>
                                        <div class="col-sm-12">
                                            <select name="DepartmentId" class="form-control" id="DDLDepartment">
                                                <option value="" disabled selected="selected">Select Department</option>
                                                @foreach (var type in Model.DepartmentList)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Joining Date</label>
                                        @*<div id="datepicker-popup" class="input-group date datepicker">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>*@
                                        <input name="JoiningDate" type="date" class="form-control">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Probation Type</label>
                                        <div class="col-sm-12">
                                            <select name="ProbationType" class="form-control js-example-basic-single w-100" id="DDLProbationType">
                                                <option value="" disabled selected="selected">Probation Type</option>
                                                <option value="Daily">Daily</option>
                                                <option value="Weekly">Weekly</option>
                                                <option value="Monthly">Monthly</option>
                                                <option value="Yearly">Yearly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Probation Period</label>
                                        <div class="col-sm-12">
                                            <input name="ProbationPeriod" type="text" class="form-control" aria-describedby="emailHelp" id="txtProbationPeriod" placeholder="Enter Probation Period">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Confirmation Date</label>
                                        <input name="ConfirmationDate" type="date" class="form-control">
                                        @*<div id="datepicker-popup" class="input-group date datepicker">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>*@
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Shift</label>
                                        <div class="col-sm-12">
                                            <select name="ShiftId" class="form-control" id="DDLShift">
                                                <option value="" disabled selected="selected">Select Shift</option>
                                                @foreach (var type in Model.ShiftMasterList)
                                                {
                                                    <option value="@type.ShiftId">@type.ShiftName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Basic Salary</label>
                                        <div class="col-sm-12">
                                            <input name="txtBasicSalary" type="text" class="form-control" aria-describedby="emailHelp" id="txtBasicSalary" onkeypress="return isNumberKey(event)">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Employee Visa -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="Visaheading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVisa" aria-expanded="false" aria-controls="collapseTwo" style="color: #f5f8fd; background-color: #44689b;">
                            Visa Detail
                        </button>
                    </h2>
                    <div id="collapseVisa" class="accordion-collapse collapse" aria-labelledby="Visaheading" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1"> Visa Title<span style="color:red">*</span></label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="VisaTitle" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="text" placeholder=" Visa Title">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1">Visa Number<span style="color:red">*</span> </label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="VisaNumber" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="text" placeholder="Visa Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1">Visa Issuance Date<span style="color:red">*</span></label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="VisaIssuanceDate" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="date" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1">Visa Expiry Date <span style="color:red">*</span> </label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="VisaExpiryDate" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="date" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1">Labour Card Number <span style="color:red">*</span></label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="LabourCardNumber" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="text" placeholder="Labour Card Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1"> Labour Card Code <span style="color:red">*</span></label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="LabourCardCode" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="text" placeholder=" Labour Card Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1">Labour Card Expiry <span style="color:red">*</span> </label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="LabourCardExpiry" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="date" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label md-name" for="inputGroup-1_1">Insurance Card Number <span style="color:red">*</span></label>
                                        <div class="col-sm-12">
                                            <div class="g-pos-rel">
                                                <input id="InsuranceCardNumber" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="text" placeholder="Insurance Card Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="" id="Activechk">
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact Information-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #f5f8fd; background-color: #44689b;">
                            Contact Information
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Contact No</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="ContacNo" class="form-control" aria-describedby="emailHelp" id="txtContactNo" placeholder="Enter Contact No" onkeypress="return isNumber(event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Official No</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="OfficialNo" class="form-control" aria-describedby="emailHelp" id="txtOfficialNo" placeholder="Enter Official No" onkeypress="return isNumber(event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Email</label>
                                        <div class="col-sm-12">
                                            <input type="email" name="Email" class="form-control" aria-describedby="emailHelp" id="txtEmail" placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Official Email</label>
                                        <div class="col-sm-12">
                                            <input type="email" name="OfficialEmail" class="form-control" aria-describedby="emailHelp" id="txtOfficialEmail" placeholder="Enter Official Email">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Region</label>
                                        <div class="col-sm-12">
                                            <select name="RegionId" class="form-control" id="DDLRegion" onchange="RegionChange(this.value);">
                                                <option value="" disabled selected="selected">Select Region</option>
                                                @foreach (var type in Model.RegionsList)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Country</label>
                                        <div class="col-sm-12">
                                            <select name="Country_Id" class="form-control" id="DDLCountry1" onchange="CountryChange(this.value);">
                                                <option value="" disabled selected="selected">Select Country</option>
                                                @foreach (var type in Model.CountriesList)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">State</label>
                                        <div class="col-sm-12">
                                            <select name="StateId" class="form-control" id="DDLState" onchange="StateChange(this.value);">
                                                <option value="" disabled selected="selected">Select State</option>
                                                @foreach (var type in Model.StatesList)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">City</label>
                                        <div class="col-sm-12">
                                            <select name="CityId" class="form-control fd" id="DDLCity">
                                                <option value="" disabled selected="selected">Select City</option>
                                                @foreach (var type in Model.CitiesList)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Current Address</label>
                                        <div class="col-sm-12">
                                            <textarea name="CurrentAddress" class="form-control" id="txtCurrentAddress" placeholder="Enter Current Address"></textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Permnant Address</label>
                                        <div class="col-sm-12">
                                            <textarea name="PermnantAddress" class="form-control" id="txtPermnantAddress" placeholder="Enter Permnant Address"></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Bank Information-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color: #f5f8fd; background-color: #44689b;">
                            Bank Information
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Bank Name</label>
                                        <div class="col-sm-12">
                                            <input name="BankName" type="text" class="form-control" aria-describedby="emailHelp" id="txtBankName" placeholder="Enter Bank Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Branch Code</label>
                                        <div class="col-sm-12">
                                            <input name="BranchCode" type="text" class="form-control" aria-describedby="emailHelp" id="txtBranchCode" placeholder="Enter Branch Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Branch Name</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="BranchName" class="form-control" aria-describedby="emailHelp" id="txtBranchName" placeholder="Branch Name">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Account Title</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="AccountTitle" class="form-control" aria-describedby="emailHelp" id="txtAccountTitle" placeholder="Enter Account Title">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Account Number</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="AccountNumber" class="form-control" aria-describedby="emailHelp" id="txtAccountNumber" placeholder="Enter Account Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Account Type</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="AccountType" class="form-control" aria-describedby="emailHelp" id="txtAccountType" placeholder="Enter Account Type">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary u-btn-3d  d-block ">
                <i class="fa fa-list" aria-hidden="true"></i>
                Save & Exit
            </button>
        </div>
        <div class="col-md-8"></div>
        <div class="col-sm-2">
            <button class="btn btn-primary u-btn-3d  d-block ml-auto">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save & Next
            </button>
        </div>
    </div>
    </form>
    <!-- page-body-wrapper ends -->
</div>
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="~/Content/Assets/vendors/base/vendor.bundle.base.js"></script>
<script src="~/Content/Assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

<script src="~/Content/Assets/js/off-canvas.js"></script>
<script src="~/Content/Assets/js/hoverable-collapse.js"></script>
<script src="~/Content/Assets/js/template.js"></script>
<script src="~/Content/Assets/js/settings.js"></script>
<script src="~/Content/Assets/js/todolist.js"></script>
<script src="~/Content/Assets/js/formpickers.js"></script>
@*endinject
    plugin js for this page*@
<script src="~/Content/Assets/vendors/jquery-steps/jquery.steps.min.js"></script>
<script src="~/Content/Assets/vendors/jquery-validation/jquery.validate.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="~/Content/Assets/js/wizard.js"></script>
<!-- End custom js for this page-->
<script src="~/Content/Assets/js/formpickers.js"></script>
<script>
    $(document).ready(function () {
        var full_url = document.URL; // Get current url
        var url_array = full_url.split('/') // Split the string into an array with / as separator
        var ID = url_array[url_array.length - 1];  // Get the last part of the array (-1)
        if (!isNaN(ID)) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/EmployeeProfile/GetEmployeeById/" + ID,
                success: onSuccessEmployeeDetails,
                error: function (error) {
                    debugger
                    $('#responseTextDivId').html(error.responseText)
                    alert(JSON.stringify(error));
                },
                cache: false
            });
        }
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function RegionChange() {

        var Id = document.getElementById("DDLRegion").value;

        $('#DDLCountry1').empty();
        $('#DDLState').empty();
        $('#DDLCity').empty();
        $('#DDLCountry1').append('<option value="-1" selected disabled> Select Country </option>');
        $('#DDLState').append('<option value="-1" selected disabled> Select State </option>');
        $('#DDLCity').append('<option value="-1" selected disabled> Select City </option>');
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { "Id": Id },
            url: "/EmployeeProfile/RegionChange",
            success: function (data) {
                if (data != "") {


                    $('#DDLCountry1').append('<option value="-1" selected disabled> Select Country </option>');
                    $.each(data, function (i, tweet) {
                        $('#DDLCountry1').append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');

                    });

                }

            },
            error: function (error) {

            },
            cache: false
        });




    }

    function CountryChange() {

        var Id = document.getElementById("DDLCountry1").value;
        $('#DDLState').empty();
        $('#DDLCity').empty();
        $('#DDLCity').append('<option value="-1" selected disabled> Select City </option>');
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { "Id": Id },
            url: "/EmployeeProfile/CountryChange",
            success: function (data) {
                if (data != "") {


                    $('#DDLState').append('<option value="-1" selected disabled> Select State </option>');
                    $.each(data, function (i, tweet) {
                        $('#DDLState').append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');

                    });

                }

            },
            error: function (error) {

            },
            cache: false
        });




    }

    function StateChange() {

        var Id = document.getElementById("DDLState").value;
        $('#DDLCity').empty();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { "Id": Id },
            url: "/EmployeeProfile/StateChange",
            success: function (data) {
                if (data != "") {


                    $('#DDLCity').append('<option value="-1" selected disabled> Select City </option>');
                    $.each(data, function (i, tweet) {
                        $('#DDLCity').append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');

                    });

                }

            },
            error: function (error) {

            },
            cache: false
        });




    }

    var profilePictureName = '';
    function ValidateForm(data) {
        var counter = 0;
        var isValid = true;
        debugger
        for (var i = 0; i < data.length; i++) {
            counter = +counter + 1;
            if (data[i].value === "" && counter > 1) {

                debugger
                if (counter <= 19) {

                    alert(`Please Fill "${data[i].name}" field under Basic Information`)
                    i = data.length + 2;
                }
                else if (counter >= 20 && counter <= 27) {
                    alert(`Please Fill "${data[i].name}" field under Position`)
                    i = data.length + 2;
                } else if (counter >= 28 && counter <= 39) {
                    alert(`Please Fill "${data[i].name}" field under Contact Information`)
                    i = data.length + 2;
                } else {
                    alert(`Please Fill "${data[i].name}" field under Bank Information`)
                    i = data.length + 2;
                }
                isValid = false;
                break;
            }
        }
        return isValid;
    }

    //$.each(data, function (key, value) {
    //    counter=+counter+1;
    //    debugger
    //    if (value.value === ""&&counter>1) {
    //        debugger
    //        if (counter <= 19) {
    //            key=value.name;
    //            alert(`Please Fill "${value.name}" field under Basic Information`)
    //        }
    //        else if (counter >= 20 && counter <= 28) {
    //            alert(`Please Fill "${value.name}" field under Position`)
    //        } else if (counter >= 29 && counter <= 39) {
    //            alert(`Please Fill "${value.name}" field under Contact Information`)
    //        } else {
    //            alert(`Please Fill "${value.name}" field under Bank Information`)
    //        }
    //        isValid = false;
    //    }
    //});
    //return isValid;
    //}
    function populate(frm, data) {
        $.each(data, function (key, value) {
            var $el = $(`[name="${key}"]`),
                type = $el.attr('type');
            if ($el.length > 0)
                switch (type) {
                    case 'checkbox':
                        $el.attr('checked', 'checked');
                        break;
                    case 'radio':
                        $el.filter('[value="' + val + '"]').attr('checked', 'checked');
                        break;
                    case 'file':
                        profilePictureName = value;
                        PreviewProfilePicByName(value);
                        break;
                    case 'date':
                        debugger
                        $el.val(value);
                        break;
                    default:
                        $el.val(value);
                }
        });
    }
    function onSuccessEmployeeDetails(Data) {
        debugger

        var { data, JoiningDate, DateOfBirth, ConfirmationDate, ContractExpiryDate, IdentityExpiryDate, PassportExpiryDate, ShiftId, BasicSalary } = $.parseJSON(Data);
        data.JoiningDate = JoiningDate;
        data.DateOfBirth = DateOfBirth;
        data.ConfirmationDate = ConfirmationDate;
        data.ContractExpiryDate = ContractExpiryDate;
        data.IdentityExpiryDate = IdentityExpiryDate;
        data.PassportExpiryDate = PassportExpiryDate;
        data.ShiftId = ShiftId;
        data.BasicSalary = BasicSalary;
        populate("#EmployeeForm", data);
    }
    var isSaveAndNext = false;
    $('#EmployeeForm').submit(function (e) {
        debugger
        let text = e.originalEvent.submitter.textContent;
        if (text.trim() == "Save & Next")
            isSaveAndNext = true;
        e.preventDefault();
        var fileUpload = $("#file-ip-1").get(0);
        var file = fileUpload.files[0];
        if (!profilePictureName && !file) {
            Swal.fire({
                icon: 'error',
                title: 'Uplod Picture',
                text: 'Please Upload Profile Picture',
            });
            return;
        }
        else InsertUpdateEmployee();

    });
    function InsertUpdateEmployee() {
        debugger
        var formData = $("#EmployeeForm").serializeArray();
        if (ValidateForm(formData) === false) {
            return;
        }
        var fileUpload = $("#file-ip-1").get(0);
        var file = fileUpload.files[0];
        var formDataFile = new FormData();
        formDataFile.append('file', file);
        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: '/EmployeeProfile/Upload',
            data: formDataFile,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success)
                    formData.push({ name: 'ProfilePicture', value: response.savedFilePath });
                else
                    formData.push({ name: 'ProfilePicture', value: profilePictureName });
            },
            error: function (error) {
                if (!profilePictureName)
                    alert("File Upload Error");
                else
                    formData.push({ name: 'ProfilePicture', value: profilePictureName });
            }
        }).then(function () {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                data: formData,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                dataType: "json",
                url: "/EmployeeProfile/InsertUpdateEmployee",
                success: onSuccessUpsertEmployee,
                error: function (error) {
                    debugger
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong to Upsert new Employee!',
                    });
                }
            });
        });

        //-------------------------------------------------------------------


    }
    function onSuccessUpsertEmployee(response) {
        debugger
        Swal.fire({
            icon: 'info',
            title: 'Info',
            text: 'Employee Save Successfuly.',
        }).then(function () {
            if (!isSaveAndNext)
                window.location.replace(`/EmployeeProfile`);
            else
                window.location.replace(`/EmployeeProfile/EmployeeInformation/${response.Id}`);
        });
    }
    function PreviewProfilePicByName(fileName) {
        debugger
        $.ajax({
            traditional: true,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ fileName: fileName }),
            type: "POST",
            dataType: "text",
            url: `/EmployeeProfile/DownloadFile`,
            success: function (r) {
                var bytes = Base64ToBytesForPic(r);
                //Convert Byte Array to BLOB.
                var blob = new Blob([bytes], { type: "application/octetstream" });
                //Check the Browser type and download the File.
                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    //Open PDF in NEw Tab
                    var preview = document.getElementById("file-ip-1-preview");
                    preview.src = link;
                    preview.style.display = "block";
                }
            },
            error: function (error) {
                debugger
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Still file not Upload.',
                });
            },
            cache: false
        });
    }
    function Base64ToBytesForPic(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    }

    function showPreview(event) {
        debugger
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
        }
    }
//For_Edit
//JSON.stringify(data)
//$("#companyForm").view(model);




</script>